<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Sign up</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render partial: 'partials/form_errors', locals: {model: @patient} %>

        <div class="form-group"><i class="fa fa-user"></i>
          <%= f.label :username %><br />
          <%= f.text_field :username, autofocus: true, autocomplete: "name" %>
        </div>

        <div class="form-group"><i class="fa fa-at"></i>
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="form-group"><i class="fa fa-key"></i>
          <%= f.label :password %>
          <% if @minimum_password_length %>
            <em>(minimum <%= @minimum_password_length %> symbols)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="form-group"><i class="fa fa-repeat"></i>
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="actions form-group">
          <%= f.submit "Ready", class: "btn btn-success" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>