<%= form_with(model: doctor, local: true) do |form| %>
  <%= render partial: 'partials/form_errors', locals: {model: @doctor} %>

<div class="form-group">
    <%= form.label :username %><br />
    <%= form.text_field :username, autofocus: true %>
  </div>

  <div class="form-group">
    <%= form.label :specialty %><br />
    <%= form.text_field :specialty %>
  </div>

  <div class="form-group">
    <%= form.label :address %><br />
    <%= form.text_field :address %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
