<p id="notice"><%= notice %></p>

<h1>Doctors</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Specialty</th>
      <th scope="col">Address</th>
      <th scope="col">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @doctors.each do |doctor| %>
      <tr>
        <td><%= doctor.username %> </td>
        <td><%= doctor.specialty %> </td>
        <td><%= doctor.address %> </td>
        <td><%= link_to 'Appoint', appointments_path, class: 'btn btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Doctor', new_doctor_path %>
