<%= form_with(model: appointment, local: true) do |form| %>
  <%= render partial: 'partials/form_errors', locals: {model: appointment} %>

  <div class="form-group">
   <%= form.label :patient_id %>
   <%= form_field :patient_id %>
  </div>

  <div class="form-group">
   <%= form.label :doctor_id %>
   <%= form.select :doctor_id, @doctors.map { |d| [d.username, d.id]} %>
  </div>

  <div class="form-group">
   <%= form.label :doctor_id.specialty %>
   <%= form_field :doctor_id.specialty %>
  </div>

  <div class="form-group">
   <%= form.label :appointment_date %>
   <%= form_field :appointment_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
