<p id="notice"><%= notice %></p>

<h1>Appointments</h1>
<br>
<h3>Schedule: 09.00 - 18.00</h3>
<h4>Break-time: 13.00 - 14.00</h4>

<table class="table table-boardered">
  <thead>
    <tr>
      <th scope="col">Patient</th>
      <th scope="col">Doctor</th>
      <th scope="col">Specialty</th>
      <th scope="col">Date</th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.inspect %></td>
        <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Order Appointment', new_appointment_path, class: 'btn btn-primary' %>

<%= link_to 'Back', root_path %>
