<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Hospital" %></title>
    <link data-require="bootstrap@*" data-semver="4.1.3" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
    <script data-require="bootstrap@*" data-semver="4.1.3" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script data-require="jquery@*" data-semver="3.2.1" src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

  </head>
  <body>
    <div class="header">
      <div class="container">
        <div class="header-logo">
          <%= link_to 'Clinica Pupkin', root_path, class: 'navbar-brand' %>
        </div>
        <div class="header-nav">
          <% if patient_signed_in? %>
            <%= "@#{current_patient.username}" %>
            <%= link_to 'Sign out', destroy_patient_session_path, :method => :delete  %>
          <% else %>
            <%= link_to 'Sign up', new_patient_registration_path %>
            <%= link_to 'Sign in', new_patient_session_path %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div>  
      <footer>
        <p>&copy; <%=  'Будущий программист' %> 2019</p>
      </footer>
    </div>
  </body>
</html>
